<div style="text-align:center">
  <h1>
  </h1>
 </div>
 <div class="container">
  <div class="row" *ngFor="let staff of staff">
  <div class="card card-block">
  <h4 class="card-title">{{ staff.name }}</h4>
  <p class="card-text">{{ staff.dob }}</p>
  <p class="card-text">{{ staff.bank }}</p>
  <p class="card-text">{{ staff.phone }}</p>
  <p class="card-text">{{ staff.duty }}</p>
  <p class="card-text">{{ staff.status }}</p>
  <p class="card-text"></p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
  </div>
  </div>
 </div>