<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
  <p><input formControlName="name" id="name" placeholder="Name"/></p>
  <p><input formControlName="dob" id="dob" placeholder="Date of Birth" /></p>
  <p><input formControlName="bank" id="bank" placeholder="Bank Account" /></p>
  <p><input formControlName="phone" id="contact" placeholder="Contact Number" /></p>
  <p><input formControlName="duty" id="duty" placeholder="Duty Type" /></p>
  <p><input formControlName="room" id="room" placeholder="Room Number" /></p>
  <p><input formControlName="status" id="status" placeholder="Employment Status" /></p>
  <p><button class="btn btn-primary" type="submit" >Create New Staff</button></p>
  </form>

  