button {
    border-radius: 25%;
    background-color: #25c481;
    color: white;
}

/* style for the table */

/* section{
    border-radius: 15px;
    background: #ffb814;
    width: 1000px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.68);
  }
  
  section[_ngcontent-c1] {
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
  }
  
  h1{
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      margin-bottom: 15px;
      padding-top: 20px;
    }
    table{
      width:100%;
      table-layout: fixed;
      border-radius: 25%;
    }
    .tbl-header{
      background-color: rgba(255,255,255,0.3);
     }
    .tbl-content{
      overflow-x:auto;
      margin-top: 0px;
      border: 1px solid rgba(255,255,255,0.3);
    }
    th{
      padding: 20px 15px; 
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }
    td{
      padding-top: 15px;
      padding-bottom: 15PX;
      text-align: left;
      vertical-align:middle;
      font-weight: 300;
      font-size: 12px;
      color: #fff;
      border-bottom: solid 1px rgba(255,255,255,0.1);
    } */
    
    
    /* demo styles */
    
    /* body{
      background: -webkit-linear-gradient(left, #25c481, #25b7c4);
      background: linear-gradient(to right, #25c481, #25b7c4);
      font-family: 'Roboto', sans-serif;
    }
    section{
      margin: 50px;
    } */
    
    
    /* follow me template */
    /* .made-with-love {
      margin-top: 40px;
      padding: 10px;
      clear: left;
      text-align: center;
      font-size: 10px;
      font-family: arial;
      color: #fff;
    }
    .made-with-love i {
      font-style: normal;
      color: #F50057;
      font-size: 14px;
      position: relative;
      top: 2px;
    }
    .made-with-love a {
      color: #fff;
      text-decoration: none;
    }
    .made-with-love a:hover {
      text-decoration: underline;
    }
     */
    
    /* for custom scrollbar for webkit browser*/
/*     
    ::-webkit-scrollbar {
        width: 6px;
    } 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }
   */
  /* end of style */

/* table */
table.minimalistBlack {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000000;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
  }
  table.minimalistBlack tbody td {
    font-size: 13px;
  }
  table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
  }
  table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
  /* end of table */